html, body {
      height: 100%;
      margin: 0;
      padding: 0;
}

#red {
        background-color: red;
        grid-area: header;
        text-align: center;
        color: white;
        border: 2px solid black;
}
#orange {
        background-color: orange;
        grid-area: header2;
        text-align: center;
        color: white;
        border: 2px solid black;
}
#yellow {
        background-color: yellow;
        grid-area: header3;
        text-align: center;
        color: white;
        border: 2px solid black;
}
#green {
        background-color: green;
        grid-area: cont;
        text-align: center;
        color: white;
        border: 2px solid black;
}
#blue {
        background-color: blue;
        grid-area: cont2;
        text-align: center;
        color: white;
        border: 2px solid black;
}
#indigo {
        background-color: indigo;
        grid-area: cont3;
        text-align: center;
        color: white;
        border: 2px solid black;
}
#violet {
        background-color: violet;
        grid-area: cont4;
        text-align: center;
        color: white;
        border: 2px solid black;
}
#bottombar {
        background-color: black;
        grid-area: footer;
        text-align: center;
        color: white;
        border: 2px solid black;
}
.container {
    grid-gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 20% 35% 20% 25%;
    grid-template-areas:
        "header header header2 header3"
        "cont cont cont cont2"
        "cont3 cont3 cont4 cont4"
        "footer footer footer footer"
    ;
    width: 100%;
    height: 100%;
}